<?xml version   ="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.lapizza.app"
    versioncode = "1"
    version     = "0.0.1">
    
    <name>Frame pdf app</name>
    
    <content src="index.html"/>
    
    <description>
      FramePdfApp
    </description>
    
    <author href="http://phonegap.com">
        maulika
    </author>
    
	
</widget>

